@tailwind base;
@tailwind components;
@tailwind utilities;

.root{
    background-color: #404258;
}

.main-bg{
    background-color: #404258;
}

.accent-bg{
    background-color: #474E68;
}

.accent{
    background-color: #50577A;
}